<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mobile Shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <nav class="navbar">
      <div class="navbar-overlay"></div>

      <button type="button" class="navbar-burger">
        <span class="material-icons">menu</span>
      </button>
      <h1 class="navbar-title">Mobile Shop</h1>
      <nav class="navbar-menu">
        {% if user.is_authenticated %}
          {% if user.is_staff %}
          <a href="{% url 'prod_add' %}" class='ad' type="button">Add Product</a>
          {% else %}
          <a href="{% url 'view_cart' %}" class='ad' type="button">My Cart</a>
          {% endif %}
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="nav-link">Logout</button>
          </form>
        {% else %}
        <a href="{% url 'signin' %}" class='ad' type="button">Log in</a>
        <a href="{% url 'signup' %}" class='ad' type="button">Register</a>
        {% endif %}
      </nav>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
